.detailsContainer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1rem;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.movieImage {
    border-radius: 10px;
}

.movieDetails {
    font-size: 1.5rem;
    color: #fff;
}

.firstItem {
    margin-top: 0;
}